# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [self-hosted, linux, x64]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup Java JDK
        uses: actions/setup-java@v4.0.0
        with:
          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
          java-version: 21
          distribution: 'zulu'
          java-package: jdk
          
      - name: Install KickAss
        run: |
          set -e
          echo $GITHUB_WORKSPACE
          echo "Download KickAssembler"
          curl -H "User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:58.0) Gecko/20100101 Firefox/58.0" -X GET http://theweb.dk/KickAssembler/KickAssembler.zip --output KickAssembler.zip          
          unzip -o KickAssembler.zip
          
      # Runs a set of commands using the runners shell
      - name: Build main.asm in all dirs
        run: |
          set -e
          for d in $GITHUB_WORKSPACE/*/; do
            echo $d
            prg=$(basename "$d")        
            echo $prg
            if [ -f $d/main.asm ]; then
              echo "Building $prg"
              java -jar ./KickAss.jar $d/main.asm -odir ${{runner.workspace}}/build -o ${{runner.workspace}}/build/$prg.prg
            fi
          done

      - uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact' /home/runner/work/c64/c64
          name: c64_lessons
          path: ${{ runner.workspace}}/build/*
          if-no-files-found: error
          retention-days: 1
